<div class="d-flex flex-column" >
    <div class="p-0"></div>
    <div class="p-0">
      <div>
         <div></div>
         <div>
            <nav class="navbar justify-content-end navbar-expand-sm bg-dark navbar-dark sticky-top">
                <!-- <img src="../../../assets/images/Admin.png" class="image" /> -->
                  <span class="navbar-brand logo"> <em>FUNDOO</em></span>
                    <ul class="nav nav-pills">
                      <li class="nav-item active">
                        <a class="nav-link active logout" data-toggle="pill" href="#">Logout</a>
                      </li>
                    </ul>
                  </nav>
                  <div class="d-flex flex-column">
                      <div class="p-5"></div>
                      <div class="row">

                          <div class="col-sm-1"></div>

                          <div class="col-sm-4">
                              <div class="card-right">
                                  <div class="text-black">
                                      <div class="card-body"><span class="text-center">Admin</span></div>
                                    </div>
                              </div>  
                                 </div>
                                  <div class="col-sm-2"></div>
                          <div class="col-sm-4">
                              <div class="card-left">
                                  <div class="text-black">
                                      <div class="card-body"><span class="text-center">Basic</span></div>
                                    </div>
                          </div>  
                            </div>

                            <div class="col-sm-1"></div>
                        
                          </div>
                  </div>    
          </div>
          <div ></div>
      </div>
        
    </div>
    <div class="p-0"></div>
    
</div>
