<div class="d-flex flex-column container-fluid" >      <!--Outside div opening here-->
    <div class="p-0"></div>                            <!--Padding for the  full container-->
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--The navigation bar and the card-->    
    <div class="p-0">
      <div>
        
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--Navigation bar div opening-->         
         <div>
            <nav class="navbar justify-content-end navbar-expand-sm bg-dark navbar-dark sticky-top">
                
                  <span class="navbar-brand logo"> <em>FUNDOO</em></span>
                    <ul class="nav nav-pills">
                      <li class="nav-item active">
                        <a class="nav-link active logout" id="logout" data-toggle="pill" href="#">Logout</a>
                      </li>
                    </ul>
                  </nav>

        </div>
<!--Navigation bar div closing here-->        

<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--Card div opening here-->
                  <div class="d-flex flex-column">
                        <div class="p-5"></div>
                      <div class="row">

                          <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                              <div class="row" id="services"></div>  
                          </div>       
                          <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>
                        
                      </div>
                      <div class="p-5"></div>
                  </div> 
<!--Card div closing here-->
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--Table div opening-->     
              <div class="d-flex flex-column" > 
                  <div class="p-2"></div>  <!--Upside padding for the table to distinguish from the cards-->
                  <div class="table">
                        <table id="users">
                                <thead style="background-color:black; color: white"> <!--Table head with all the heading shown at the top of the table-->
                                    <tr>
                                        <th scope="col">Sno</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Service</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                
                                </table>

                                <div class="container">                 
                                </div>
                   <div class="p-2"></div> <!--Downside padding for the table-->
              </div>        
                     
          
             </div>
 <!--Table div closing-->     
 <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->  
    </div>
    <div class="p-0"></div>

</div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!-- Modal Box -->
<!-- Button rendered in the backend to view the details -->

 <button type="button" id="btnpopop" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display:none">Open Small Modal</button>
      
    <!-- Modal box div opening -->
    <div class="modal fade" id="myModal" role="dialog">
        
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!--Modal header showing the first name and the last name-->
          <div class="modal-header" style="background-color:black; color:white">
                
           
            <span><h6 class="modal-title"id="lblFname">Modal Header</h6></span>
            
          </div>
          <!--Modal body with all the details binded with id-->
          <div class="modal-body">
            <p id="mail"></p>
            <p id="serv"></p>
            <p id="username"></p>
            <p id="phonenumber"></p>
            <p id="role"></p>
            <p id="serv"></p>
            <p id="created_date"></p>
            <p id="verification"></p>
          </div>
          <!--Modal footer with the close button for closing the modal view-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>        
     <!--Modal box div closing-->

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->     
</div>             
<!--Outside div closing here-->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->