.card-text{
font-size: 80%;
}
.B{
    color: #4285f4;
  }
  .R{
    color: #EA4335;
  }
  .Y{
    color: #EBBC05;
  }
  .G{
    color: #34A853;
  }
  .btn{
      color: white;
  }
  .error {
    color: red;
    margin-left: 5px;
  }
   
  label.error {
    display: inline;
  }