<div  class="d-flex flex-column">
      <div class="p-5"></div>
           
      <div class="p-5">
          <div class="row">
            <div class="col"></div>
            <div  class="col" class="card text-center" style="width:50%">
                <div class="card-header">
                  <h1 class="card-title">
                    <span class="B">F</span>
                    <span class="R">N</span>
                    <span class="Y">O</span>
                    <span class="B">T</span>
                    <span class="R">E</span>
                    <span class="G">S</span>
                  </h1>
                    <h4 class="card-title">Admin login</h4>
                    <!-- <p class="card-text">For admin to login please provide email and password</p> -->
                  </div>
                  <div class="card-body">
                      <div class="form-group row">
                          <label for="usr">Name:</label>
                          <input id="email" type="text" class="form-control">
                        </div>
                        <div class="form-group row">
                          <label  for="pwd">Password:</label>
                          <input id="password" type="password" class="form-control">
                        </div>  
                  </div>
                  <div class="card-footer text-muted">
                      <a id="button" class="btn btn-primary"><span class="btn">Login</span></a> 
                    </div>
              </div>
            <div class="col"></div>
            </div>
      </div>
      <div class="p-5"></div>
</div>