<div  class="d-flex flex-column" class="container">
      <div class="p-5"></div>
           
      <div class="p-5">
          <div class="row">
            <div class="col"></div>
            <div  class="col" class="card text-center" style="width:50%">
                <div class="card-header">
                    <h4 class="card-title">Admin login</h4>
                    <p class="card-text">For admin to login please provide email and password</p>
                  </div>
                  <div class="card-body">
                      <div class="form-group row">
                          <label for="usr">Name:</label>
                          <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group row">
                          <label  for="pwd">Password:</label>
                          <input type="password" class="form-control" id="pwd">
                        </div>  
                  </div>
                  <div class="card-footer text-muted">
                      <a href="#" class="btn btn-primary">Login</a> 
                    </div>
              </div>
            <div class="col"></div>
            </div>
      </div>
      <div class="p-5"></div>
</div>